/* -webkit-appearance: none; */
@charset "UTF-8";

body, input, button {
  font-family: 'Roboto', sans-serif;
}

body {
  background: #edf0f1;
  padding: 80px 0 0 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.noFill{
  fill:none;
}

.fillColor{
  fill:#c0cecb;
}

ul.todo li .buttons .edit svg{
  width: 18px;
  height: 18px;
}

header {
  width: 100%;
  height: 80px;

  position: fixed;
  padding: 15px;
  top: 0;
  left: 0;
  z-index: 5;
  background: #0052D4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6FB1FC, #4364F7, #0052D4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6FB1FC, #4364F7, #0052D4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: 0px 2px 4px rgba(44, 62, 80, 0.15);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

header input {
  width: 100%;
  height: 50px;
  float: left;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  text-indent: 18px;
  padding: 0 60px 0 0;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px 25px 25px 5px;
  border: 0px;
  box-shadow: none;
  outline: none;

  -webkit-appearance: none;
  -moz-appearance: none;
}

header input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.75);
}

header input:-moz-input-placeholder {
  color: rgba(255, 255, 255, 0.75);
}

header input::-moz-input-placeholder {
  color: rgba(255, 255, 255, 0.75);
}

header input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.75);
}

header button {
  width: 50px;
  height: 50px;

  position:absolute;
  top:15px;
  right:15px;
  z-index:2;

  border-radius: 25px;
  background: #fff;
  border: 0px;
  box-shadow: none;
  outline: none;
  cursor: pointer;

  -webkit-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

header button svg {
  width: 16px;
  height: 16px;
  position: absolute;
  top:50%;
  left: 50%;
  margin: -8px 0 0 -8px;
}

header button svg .fill {
  fill: #0052D4;  /* fallback for old browsers */
}

.container{
  width: 100%;
  float: left;
  padding: 15px;
}

ul.todo{
  width: 100%;
  float: left;
}

ul.todo li{
  font-size: 14px;
  font-weight: 500;
  color: #444;
  line-height: 22px;
  min-height: 50px;
  width: 100%;
  height: auto;
  float: left;
  background: #fff;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  margin: 0 0 10px 0;
  padding: 14px;
}

ul.todo li:last-of-type{
  margin:0;
}

ul.todo li .buttons {
  width: 155px;
  height: 35px;
  margin: 0 auto;
  border: 1px solid #edf0f1;
  border-radius: 25px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  margin-top: 15px;
}

ul.todo li .buttons.button-save{
  width: 50px;
  margin-top: 15px;
}

ul.todo li .buttons button{
  width: 50px;
  height: 35px;
  float: left;
  background: none;
  position: relative;
  border:0;
  box-shadow: none;
  outline: none;
  cursor: pointer;

  -webkit-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

ul.todo li .buttons button:last-of-type:before,
ul.todo li .buttons button.remove:before{
  content: '';
  width: 1px;
  height: 30px;
  position: absolute;
  top: 10px;
  background: #edf0f1;
  left: 0;
}

ul.todo li .buttons button.save:before{
  content: none;
}

ul.todo li .buttons button svg {
  width: 22px;
  height: 22px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -11px 0 0 -11px;
}

ul.todo li .buttons button.complete svg{
  border-radius: 11px;
  border: 1.5px solid #0052D4;
  
  -webkit-transition: background 0.2s ease;
  -moz-transition: background 0.2s ease;
  -ms-transition: background 0.2s ease;
  -o-transition: background 0.2s ease;
  transition: background 0.2s ease;
}

ul.todo#completed li .buttons button.complete svg{
  background: #0052D4;
  border: 0;
}

ul.todo:not(#completed) li .buttons button.complete:hover svg{
  background: rgba(0,82,212,0.75);
}

ul.todo:not(#completed) li .buttons button.complete:hover svg .fill{
  fill: #fff;
}

ul.todo#completed li .buttons button.complete svg .fill{
  fill: #fff;
}

ul.todo li .buttons button svg .fill,
ul.todo li .buttons button svg .fillColor{
  -webkit-transition: fill 0.2s ease;
  -moz-transition: fill 0.2s ease;
  -ms-transition: fill 0.2s ease;
  -o-transition: fill 0.2s ease;
  transition: fill 0.2s ease;
}

ul.todo li .buttons button.remove svg .fill{
  fill: #c0cecb;

}

ul.todo li .buttons button.edit:hover svg .fillColor{
  fill:#e85656;
}

ul.todo li .buttons button.save:hover svg .fillColor{
  fill:#0052D4;
}

ul.todo li .buttons button.remove:hover svg .fill{
  fill: #e85656;
}

ul.todo li .buttons button.complete svg .fill{
  fill: #0052D4;
}

ul.todo#completed{
  position: relative;
  padding: 60px 0 0 0;
}

ul.todo#completed:before{
  content: '';
  width: 150px;
  height: 1px;
  background-color: #d8e5e0;
  position: absolute;
  top: 30px;
  left: 50%;
  margin: 0 0 0 -75px;
}

ul.todo#todo:empty:after{
  content:'You have nothing to-do!';
  margin: 15px 0 0 0 ;
}

ul.todo#completed:empty:after{
  content:'You have yet to complete any task.';
}

ul.todo#todo:after,
ul.todo#completed:after{
  width: 100%;
  display: block;
  text-align: center;
  font-size: 12px;
  color:#aaa;
}

ul.todo li input{
  width: 100%;
  display: block;
  border-radius: 2px;
  outline: none;
  border: 1px solid #aaa;
  padding: 5px 10px 5px 10px;
}
ul.todo li.itemSave{
  padding: 12px 50px 14px 14px;
}

.footer-setting{
  text-align: right;
  margin-right: 15px;
}

.footer-setting .setting-btn{
  background:transparent;
  outline: none;
  border:none;
  cursor: pointer;
}

.footer-setting .setting-btn:hover .fillColor{
  fill:#0052D4;
}